.header{
	width:100%;
	z-index: 20;
	top:0;
	left:0;
	position: fixed;
	background-color: #ffffff;

}
.header-wraper {
	background: grey;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	z-index: 20;
}
.html{
  float: left;
  margin-left: 98px;
  margin-top: 21px;
}
.list{
	font-family: 'Roboto', sans-serif;
  display: inline-block;
  padding-left: 35px;
  font-size: 24px;

}
.clear{
	clear: both;

}
.nav1{
    float:left;
    margin-left: 103px;
    margin-top: 35px;
}

.photo{
	position: relative;
   float: left;
   margin-top: 130px;
   margin-left: 98px;

}
.sec{

	position: absolute;
    top:0;
	left: 0;

	
}
.seca{
	font-family: 'Roboto', sans-serif;
	margin-left:  30px;
	margin-top: 289px;
	font-size: 30px;
    color: #ffffff;
}
.secb{
	font-family: 'Roboto', sans-serif;
	margin-top: 331px;
	margin-left:  30px;
	font-size: 30px;
	color: #ffffff;
	
}
.secc{
	font-family: 'Roboto', sans-serif;
	margin-top: 365px;
    font-size: 30px;
	margin-left: 30px;
	color: #ffffff;
}
.secd{
	font-family: 'Roboto', sans-serif;
	margin-left: 30px;
	margin-top: 402px;
	font-size: 30px;
	color: #ffffff;
}
.blue{
	margin-top: 30px;
	width: 1366px;
    height: 500px;
	background-color: #363E97;
}

.vid{
	padding-top: 30px;
   margin-left: 100px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
    font-size: 24px;   
}
.block{
	width: 570px;
	height: 320px;
	background-color: #ffffff;
	margin-left: 98px;
	margin-top: 28px;
	display: inline-block;

}
.block2{
	width: 570px;
	height: 320px;
	background-color: #ffffff;
	margin-left: 30px;
	margin-top: 28px;
	display: inline-block;
}
.cyan{
	width: 1366px;
	height: 450px;
	background-color: #BDCCD4;

}
.newsp{
	font-family: 'Roboto', sans-serif;
	color: #3D58A6;
	font-size: 24px;	
	margin-left: 99px;
	padding-top: 31px;
}
.imgs{
	float: left;
	margin-top: 28px; 
	margin-left: 99px;
	
}
.img2{
	padding-left: 26px;
}
.article1{
	width: 270px;
	height: 60px;
    background-color: #ffffff;
    float: left;
    margin-left: 98px;

}
.article2{
	width: 270px;
	height: 60px;
	background-color: #ffffff;
	float: left;
	margin-left: 30px;
}
.black{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
    color: #333333;
    margin-left: 14px;
    margin-top: 14px;

}
.tit{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	padding-top: 28px;
	margin-left:98px; 
}
.left-block{
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	width: 570px;
	height: 225px;
	background-color:#F2F2F2;
	border-color: #707070;
	float:left;
	margin-top: 30px;
	

	
}
.right-block{
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	width: 570px;
	background-color:#F2F2F2;
	border-color: #707070;
	margin-right: 29px; 
		
}
.title{
	color: #3D58A6;
	font-size: 22px;
	padding-left: 21px;
	padding-top: 11px;
	margin-bottom: 13px;
}
.image-block{
    display: inline-block;
	vertical-align: middle;
	margin-left: 39px;
	margin-bottom: 42px;

}
.grey{
	width: 1366px;
	height: 1933px;
	background-color: #E6E6E6;
}